<div class="backgroud">
    <div class="container">
        <div class="logo">
            <img src="../../assets/Imgs/image-removebg-preview (4).png" alt="Logo">
        </div>
        <div class="login">
            <h1>Inicia Sesión</h1>
            <form action="">
                <input type="text" [(ngModel)]="authService.username" name="username" placeholder="Usuario" (input)="removeSpaces($event)">
                <div class="password-container">
                    <input type="password" [(ngModel)]="authService.password" name="password" placeholder="Contraseña" (input)="removeSpaces($event)" (keyup.enter)="logearse()" [type]="isPasswordVisible ? 'text' : 'password'">
                    <button type='button' (click)="togglePasswordVisibility()">
                        <span *ngIf="isPasswordVisible"><img src="../../assets/Imgs/eye-svgrepo-com.png" alt=""></span>
                        <span *ngIf="!isPasswordVisible"><img src="../../assets/Imgs/eye-off-svgrepo-com.png" alt=""></span>
                    </button>
                </div>
                <div class="botones">    
                    <button type="button" (click)="logearse()">Entrar</button>
                    <button type="button" (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
